<!doctype html>
<html>
    <head>
        <title>Squad Up</title>

        <!-- Web Components Polyfill for Polymer -->
        <script src="/lib/webcomponentsjs/webcomponents-lite.min.js"></script>

        <!-- Polymer elements -->
        <link rel="import" href="/lib/google-signin/google-signin.html">
    </head>
    <body>
        <x-app></x-app>

        <dom-module id="x-app">
            <template>
                <google-signin id="sign-in-btn" client-id="432144215744-2n6fha955i4f2en9jubvelfhmdsh1jcv.apps.googleusercontent.com" scopes="profile"></google-signin>
            </template>

            <script>
                Polymer({
                    // Element namhttp://jinzhu.me/gorm/e
                    is: "x-app",

                    // Polymer Component Lifecycle
                    // Ready - Web components and Polymer are a OK
                    ready: function() {
                        console.log("x-app is ready");

                        this.listen(this.$["sign-in-btn"], "google-signin-success", "onGSignInSuccess");
                    },

                    // Event handlers
                    onGSignInSuccess: function(a, b, c) {
                        var idToken = gapi.auth2.getAuthInstance()["currentUser"].get().getAuthResponse().id_token;

                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/api/v1/auth/token/google");
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.onload = function() {
                            console.log(xhr.responseText);
                        };
                        xhr.send("id_token=" + idToken);
                    }
                });
            </script>
        </dom-module>
    </body>
</html>