<!doctype html>
<html>
<head>
    <!-- Set charset first -->
    <meta charset="utf-8">

    <title>Squad Up</title>

    <!-- Load manifest -->
    <link rel="manifest" href="/manifest.json">
    <!-- Mobile scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Disable tap outline on IE and Windows Phone -->
    <!--<meta name="msapplication-tap-highlight" content="no">-->

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">


    <!-- Web Components Polyfill for Polymer -->
    <script src="/lib/webcomponentsjs/webcomponents-lite.min.js"></script>

    <!-- App elements -->
    <link rel="import" href="/components/x-app/x-app.html">
</head>
<body>
    <x-app></x-app>
</body>
</html>