<!doctype html>
<html>
    <head>
        <title>Squad Up</title>

        <!-- Meta -->
        <!-- Mobile scale -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Disable tap outline on IE and Windows Phone -->
        <meta name="msapplication-tap-highlight" content="no">

        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Web Components Polyfill for Polymer -->
        <script src="/lib/webcomponentsjs/webcomponents-lite.min.js"></script>

        <!-- Polymer elements -->
        <link rel="import" href="/lib/google-signin/google-signin.html">

    </head>
    <body>
        <x-app></x-app>

        <dom-module id="x-app">
            <template>
                <google-signin id="sign-in-btn" client-id="432144215744-2n6fha955i4f2en9jubvelfhmdsh1jcv.apps.googleusercontent.com" scopes="profile"></google-signin>
            </template>

            <script src="/js/main.js"></script>
        </dom-module>
    </body>
</html>